<h2>РК-2 Дегтярёва Мила ИУ6-33б</h2>
<h2>Билет 27</h2>
<h3>Дан массив чисел arr_z. Найти номер первого кратного 3 элемента и поместить этот номер на 
место минимального элемента.</h3>
<h3>ВНИМАНИЕ: в заданиии подразумевается, что в массиве есть элементы, кратные 3, если же таких чисел нет, то номер первого элемента, кратного 3 будет равен пустоте(пустота будет на месте минимального элемента). Также, если вводится одно число, то программа ничего не выдаст, так как в задании указано, что вводится массив чисел(я так поняла задание и сделала в соответствии с этим....) </h3>
<h4>Ввод данных</h4>
<%= form_tag("/calc/view", :method => "get") do %>
  <%= label_tag("Введите числа через пробел:" )%>
  <%= text_field_tag(:arr_a, '3 2 -1 -2 4 9') %> <br/>
  <br/>
  <%= submit_tag("Результат") %>
<% end %>
