<h2>РК-2 Дегтярёва Мила ИУ6-33б</h2>
<h2>Билет </h2>
<h3>Дан массив чисел arr_a. Определить сумму остатков от деления положительных
  элементов массива на 3 и поместить ее на место последнего четного элемента этого массива.</h3>
<h4>Ввод данных</h4>
<%= form_tag("/calc/view", :method => "get") do %>
  <%= label_tag("Введите числа через пробел:" )%>
  <%= text_field_tag(:arr_a, '1 -1 5 -8 2 -2') %> <br/>
  <br/>
  <%= submit_tag("Результат") %>
<% end %>
